
 body {
  font-size: 25px;
  font-style: oblique;
  color: yellow;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}



:root {
  --white: rgb(255, 255, 255); 
  --smokey: rgb(215, 212, 212); 
  --black: rgb(1,1,1); 
  --grey: rgb(46, 41, 41); 
}

.light{
  --primary: var(--white);
--secondary: var(--smokey);
}

.dark{
    --primary: var(--black);
    --secondary: var(--grey);
  }
  
  .header{
  background-color: var(--primary);
  }
  .back{
    background-color: var(--secondary);
  }
  


h1 {
  margin: 10px auto;
  padding-top: 3px;
  width: 75%;
  height: 6rem;
  background: white;
  border: 3px solid black;
  box-shadow: 4px 4px 10px;
  margin-bottom: 30px;
}


h3{
  color: green;
  font-size: 15px;
}
html,
body,
* {
  align-items: center;
  padding: 0;
  
  box-sizing: border-box;
}
.btn {
  height: 50px;
  width: 100px;
  margin-bottom: 100px;
  background-color: white;
  color: black;
 }

 #veg {
  margin-bottom: 50px;
 }

#men {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  width: 29%;
  height: 60vh;
  background: whitesmoke;
  border: 2px solid black;
  box-shadow: 3px 3px 10px;
  border-radius: 20px;
  margin-bottom: 40px;
}

img {
  margin-top: 15px;
  height: 26vh;
}

.all, .vegs, .drin, .dess {
  font-size: 2rem;
}
