body {
  background-color:white; 
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 10px auto;
  padding-top: 3px;
  color: yellow;
  width: 40%;
  height: 6rem;
  background: red;
  border: 3px solid black;
  box-shadow: 4px 4px 10px;
  margin-bottom: 30px;
}
h2 {
  font-size: 25px;
}
html,
body,
* {
  align-items: center;
  padding: 0;
  
  box-sizing: border-box;
}
/* .gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
 */