
 body {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  

}
h1 {
  margin: 10px auto;
  padding-top: 3px;
  color: rgb(1, 10, 19);
  width: 40%;
  height: 6rem;
  background: #white;
  border: 3px solid black;
  box-shadow: 4px 4px 10px;
  margin-bottom: 30px;
}
h2 {
  font-size: 25px;
}
h3{
  color: green;
  font-size: 15px;
}
html,
body,
* {
  align-items: center;
  padding: 0;
  
  box-sizing: border-box;
}
.btn {
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
 }


#menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  width: 29%;
  height: 25rem;
  background: whitesmoke;
  border: 2px solid black;
  box-shadow: 3px 3px 10px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.images {
  margin-top: 15px;
  width: 50%;
  height: 26vh;
}